.oddImg {
    float: left;
    width: 50%;
    padding: 2rem;
    margin-right: 3%;
}

.oddDescription {
    padding: 2rem;
    display: inline-block;
}

.evenImg {
    float: right;
    width: 50%;
    padding: 2rem;
    margin-left: 3%;
}

.evenDescription {
    padding: 2rem;
}